
  body {
  font-family: 'Lato', sans-serif; 
  background: linear-gradient(135deg, #f5f7fa, #789cd7);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #442626;
}

div {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background: #f7f4f862;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); 
}


button {
  position: relative;
  overflow: hidden; 
  background-color: #710aa4;
  color: white;
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 70%);
  animation: shimmer 3.5s infinite;
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

button:hover {
  background-color: #ca0e4d;
  transform: translateY(-3px); 
}

button:active {
  background-color: #003f80;
  transform: scale(0.98); 
}

.quote {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

blockquote {
  font-style: italic;
  color: #555;
  margin-top: 1.5rem;
  border-left: 4px solid #64047f; 
  padding-left: 1rem;
}

blockquote::before,
blockquote::after {
  content: '"';
  font-size: 2rem;
  color: #500a6a; 
}

p {
  font-size: 0.9rem;
  color: #555;
  margin: 0.5rem 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    padding: 1rem;
  }
  div {
    padding: 1.5rem;
  }
  button {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}